
@import "~src/assets/scss/common";

html,
body{
    @extend %w100;
    @extend %h100;
}
.login-wrap{
    @extend %ma;
    padding: 30vh 0;
    max-width: 420px;
    .login-form {
        max-width: 300px;
    }
    .login-form-forgot {
        float: right;
    }
    .ant-col-rtl .login-form-forgot {
        float: left;
    }
    .login-form-button {
        width: 100%;
    }
}
