
@import "~src/assets/scss/common";

body{
    background-color: #f2f2f2;
}

section{
    padding: j(40);
    h2{
        font-size: 18px;
    }
    img{
        height: 50px;
    }
    i{
        @extend %db;
        width: 40px;
        height: 40px;
        &.i1{
            background: url("~src/assets/images/react-logo.jpeg") center no-repeat;
            background-size: contain;
        }
        &.i2{
            background: url("https://img.owulia.com/daysnap/607d0ca6d3ad886378eb0cd8/AVATAR/20210419163036.jpeg?w=64") center no-repeat;
            background-size: contain;
        }
    }
}
