<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="POPPRO是由Crypton Future Media公司官方独家授权的初音未来官方中文投稿网站。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>POPPRO | 首页</title>
    <!--<link rel="shortcut icon" href="../images/favicon.ico"/>-->
</head>
<body>
    <!--头部-->
    <div class="header-wrap">
        <div class="session">
            <div class="logo" alt="logo"></div>
        </div>
    </div>
    <!--/头部-->
    <!--主体-->
    <div class="body-wrap">
        <div class="session">
            <div class="left">
                <ul class="list-wrap">
                    <li class="list-item">
                        <div class="list-item-part check">
                            <div class="check-box active">
                                <div class="check-inner"></div>
                            </div>
                            <span class="check-box-prompt">歌曲</span>
                        </div>
                        <div class="list-item-part name"></div>
                        <div class="list-item-part author">作者</div>
                        <div class="list-item-part time">时长</div>
                    </li>
                </ul>
                <ul class="list-wrap music-list">
                    <li class="list-item">
                        <div class="list-item-part check">
                            <div class="check-box">
                                <div class="check-inner"></div>
                            </div>
                            <span class="check-box-prompt">1</span>
                        </div>
                        <div class="list-item-part name">风化dpasdkaspd</div>
                        <div class="list-item-part author">作者</div>
                        <div class="list-item-part time">时长</div>
                    </li>
                </ul>
            </div>
            <div class="right">
                <div class="music-pic"><img class="music-pic-image" src="" alt=""></div>
                <p class="music-words">
                    风化dpasdkaspd风化dpasdkaspd风化dpasdkaspd风化dpasdkaspd风化dpasdkaspd
                </p>
            </div>
        </div>
    </div>
    <!--/主体-->
    <!--尾部-->
    <div class="footer-wrap">
        <div class="session footer-inner">

        </div>
    </div>
    <!--/尾部-->
    <script src="../lib/jquery.js"></script>
    <script src="../lib/jquery.jplayer.js"></script>
</body>
</html>
