<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="POPPRO是由Crypton Future Media公司官方独家授权的初音未来官方中文投稿网站。" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>POPPRO | 首页</title>
    <!--<link rel="shortcut icon" href="../images/favicon.ico"/>-->
</head>
<body>
    <!--头部-->
    <div class="header-wrap">
        <div class="session-wrap">
1
        </div>
    </div>
    <!--/头部-->
    <!--主体-->
    <div class="body-wrap">
        <div class="session-wrap">
2
        </div>
    </div>
    <!--/主体-->
    <!--尾部-->
    <div class="footer-wrap">
        <div class="session-wrap">
3
        </div>
    </div>
    <!--/尾部-->
    <script src="../lib/jquery.js"></script>
    <script src="../lib/jquery.jplayer.js"></script>
</body>
</html>
